.container {
    color: black;
    width: 28%;
    border: 1px;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: gray;
    margin: 3% auto;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upper {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3em;
}

.heading{
    font-weight: 700;

}

.middle {
    display: flex;
    margin-bottom: 0.5em;
}

.middle h1 {
    font-size: 80px;
    
}


button {
background-color: white;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    justify-content: center;
    padding: 20px 70px;
    border: 1px solid black;
    border-radius: 55px;
    
}

.lower{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 50%;
}


tr {
    
padding-left: 10px;
}

span{
    padding-right: 5px;  
}